.pokedex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}

.pokedex-list {
  margin-right: 30px;
  overflow-y: scroll;
  height: 100%;
}

.pokedex-view {
  flex: 1;
  max-height: 1vh;
}
