.app {
  margin: 50px 20vw 0;
}

.pokedex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}

.pokedex-list {
  margin-right: 30px;
  height: 80vh;
}

.pokedex-view {
  flex: 1;
  max-height: 1vh;
}
